Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

Answer -

        select salary from worker_table t1
        where 4 = (select count(salary) from worker_table t2 
            where t1.salary < t2.salary)  ;

Q-20. Write an SQL query to fetch the list of employees with the same salary.

Answer -

         SELECT *
         FROM new_tb 
         WHERE Salary IN (
         SELECT Salary
         FROM new_tb
         GROUP BY Salary
         HAVING COUNT(*) > 1
         );