Q-1. Write an SQL query to show only odd rows from aÂ table.

Answer - SELECT * FROM worker_table where worker_id % 2 != 0;

Q-2. Write an SQL query to clone a new table from another table.

Answer - create table new_tb select * from worker_table;