Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

Answer - 
Select TRIM(first_name) from worker table;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

Answer -
select distinct(length(department)) from worker_table;

Q-3. Write an SQL query to fetch nth max salaries from a table.

Answer - 
select salary from worker_table order by salary desc limit 3;