Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

Answer - select replace(fisrt_name,'a','A') from worker table; .


Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

Answer - select * from worker table order by First_name asc, department desc; .


Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

Answer - select max(salary),first_name from worker table; .