Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.
 
Answer-
select first_name from worker_table limit 3;

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

Answer -
Select INSTR(FIRST_NAME, BINARY 'a') from worker_table where FIRST_NAME = 'Amitabh';

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

Answer - 
select first_name, max(salary_pa) from worker_table;

I took help from google(Q2) but understand as well